<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://occ-0-2774-3647.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABfhUK4fah1rGa4tbZwbihtEVdNNSPvxkacG7kH4nnX_YIUCZOdRlgHgx5-rlEilYoCGA02Pa9ybDpL8hL1vfkvv5ZPHoE0AWCwZS.jpg?r=f97"
      alt="placeholder"
      height="200px"
    >
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Pellentesque ipsum justo, condimentum ac vestibulum sed,
        tristique et augue. Nulla quis mattis neque. Fusce eleifend,
        orci sit amet efficitur mattis, diam turpis pellentesque nibh,
        eu dapibus magna diam eget lorem.
      </a>
    </p>
  </div>
</div>
