<div class="container__menu-bar">
  <ul>
    <li><a href="#">Movies</a></li>
    <li><span>⦾</span></li>
    <li><a href="#">Tv</a></li>
    <li><span>⦾</span></li>
    <li><a href="#">Music</a></li>
    <li><span>⦾</span></li>
    <li><a href="#">Books</a></li>
  </ul>
</div>

<div class="container__menu-bar-right">
  <div class="menu-bar__icons">
    <a href="https://www.linkedin.com/in/jaquelinems/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/LinkedIn_icon_circle.svg/1200px-LinkedIn_icon_circle.svg.png"></a>
    <a href="https://github.com/jaquel1ne"><img src="https://creazilla-store.fra1.digitaloceanspaces.com/icons/7914417/github-icon-sm.png"></a>
  </div>
  </div>
